<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tung.hireme">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_hireme"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_hireme"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Activities.activities.CardActivity" />
        <activity android:name=".Activities.activities.LoginActivity" />
        <activity android:name=".Activities.activities.RegistrationActivity" />
        <activity android:name=".Activities.activities.SplashActivty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.activities.EditProfileActivity" />
        <activity
            android:name=".Activities.activities.StudentActivity"
            android:label="@string/title_activity_student"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Activities.activities.CompanyActivity" />
        <activity android:name=".Activities.activities.EmptyActivity"></activity>
    </application>

</manifest>